body {
  background-color: #5589b1;
  color: #fff;
  /* font-family: kamerik-3d; */
}

.layers {
  perspective: 1000px;
  overflow: hidden;
}
.logos {
  position: absolute;
  z-index: 1;
  opacity: 80%;
  transform: translate(0, -140%);
}

.layers__container {
  height: 100vh;
  min-height: 1000px;
  transform-style: preserve-3d;
  transform: rotateX(var(--move-y)) rotateY(var(--move-x));
  will-change: transform;
  transition: transform var(--transition);
}
.layers__item {
  position: absolute;
  inset: -5vw;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.layer-1 {
  transform: translateZ(-105px) scale(1.07);
}

.layers-2 {
  position: absolute;
  inset: -5vw;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateZ(80px) scale(0.88);
  transform: translate(-350px, -25%);
}

.layer-3 {
  transform: translateZ(180px) scale(0.8);
}

.hero-content {
  font-size: calc(var(--index) * 2.9);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: calc(var(--index) * -0.15);
  line-height: 1.35em;
  margin-top: calc(var(--index) * 5.5);
}
.hero-n {
  transform: scale(0);
}
.box-content {
  transform: translate(10%);
}
.hero-content span {
  display: block;
}
.hero-content__p {
  text-transform: none;
  font-family: merriweather-italic-3d;
  letter-spacing: normal;
  font-size: calc(var(--index) * 0.73);
  line-height: 3;
}
.button-start {
  width: 150px;
  height: 50px;
  font-family: Arial;
  text-transform: uppercase;
  background-color: transparent;
  color: #fff;
  border-radius: 50px;
  border: 1px #fafcff solid;
  outline: none;
  cursor: pointer;
  opacity: 50%;
}
.button-start:hover {
  opacity: 100%;
}

.button-option {
  position: relative;
  transform: translate(-500px, -600%);
  width: 100px;
  height: 50px;
  font-family: Arial;
  text-transform: uppercase;
  background-color: transparent;
  color: #fff;
  border-radius: 50px;
  border: 1px #fafcff solid;
  outline: none;
  cursor: pointer;
  opacity: 50%;
}

.button-option:hover {
  opacity: 100%;
}

.cheked {
  width: 50px;
  height: 50px;
  border: #5589b1 solid 1px;
  background-color: #5589b1;
  border-radius: 50px;
}
